<%- title t("views.epp.links.edit %{model}", :model => t("views.branches.branches")) %>

<div class="col-lg-12">
	<div class="page-header">
		<h1><%= t("views.epp.links.edit %{model}", :model => t("views.branches.branches")) %></h1>
	</div>
	<%= render 'form' %>

</div>
