<%- title t("views.epp.links.edit %{model}", :model => t("views.activity_members.activity_members")) %>

<div class="col-lg-12">
	<div class="page-header">
		<h1><%= t("views.epp.links.edit %{model}", :model => t("views.activity_members.activity_members")) %></h1>
	</div>
	<%= render 'form' %>

</div>