<%- title t("views.epp.links.edit %{model}", :model => t("views.states.states")) %>

<div class="col-lg-12">
	<div class="page-header">
		<h1><%= t("views.epp.links.edit %{model}", :model => t("views.states.states")) %></h1>
	</div>
	<%= render 'form' %>

</div>