<%- title t("views.epp.links.new %{model}", :model => t("views.project_partners.project_partners")) %>
<div class="col-lg-12">
	<div class="page-header">
		<h1><%= t("views.epp.links.new %{model}", :model => t("views.project_partners.project_partners")) %></h1>
	</div>
	<%= render 'form' %>

</div>
