<div class="fields">   
        <div class="form-group">
          <%= f.label :attachment_id, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <div class="input-group">
              <%= f.select :attachment_id, Attachment.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
              </span>
            </div>
          </div>
        </div>
</div>