<%- title "#{@profession.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @profession.name %></h1>
		<a title="Edit" href="<%= edit_profession_path(@profession) %>"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.professions.name") %></strong></div>


		<div class="col-sm-10"><%= @profession.try(:name) || 'N/A' %></div>
	</div>
</div>