<%%- title t("views.epp.links.edit %{model}", :model => t("views.<%= plural_table_name.downcase %>.<%= plural_table_name.downcase %>")) %>

<div class="col-lg-12">
	<div class="page-header">
		<h1><%%= t("views.epp.links.edit %{model}", :model => t("views.<%= plural_table_name.downcase %>.<%= plural_table_name.downcase %>")) %></h1>
	</div>
	<%%= render 'form' %>

</div>