<% Rails.application.eager_load! %>
<%- @controllers = ApplicationController.descendants - [DeviseController,   ActivityMembersController,ProfessionsController, ProjectAttachmentsController, ProjectDonorsController,  ProjectMembersController, ProjectPartnersController, Devise::OmniauthCallbacksController, CallbacksController, Api::V1::ActivitiesController,Api::V1::ProjectsController, Devise::SessionsController,  Devise::ConfirmationsController, Devise::RegistrationsController, Devise::SessionsController, CallbacksController, ConfirmationsController, RegistrationsController, SessionsController, Devise::PasswordsController, Devise::UnlocksController, TagsController, LinesController, DashboardController] %>
<div class="table-responsive">
  <table class="table table-striped permissions">
    <tbody>
    <%- @controllers.map { |c| { c => [:manage, :read, :create, :update, :delete]} }.reduce(Hash.new, :merge).each do |controller, actions| %>
        <tr>

          <td><%= t("views.roles.%{controller}", controller: t("controllers.application_controller.#{controller.controller_name.titleize}")) %></td>

          <% controller_hash = @role.permissions.fetch(controller.controller_name, false) %>
          <%- actions.each do |action| %>
            <% if controller_hash %> 
              <% action_value = controller_hash.include?(action) %>
            <% end %> 
            <td><%= f.check_box :"permissions[#{controller.controller_name}][#{action.to_sym}]", {checked: action_value}, true, false  %> 
               <%=t("views.roles.%{action}", action: t("views.roles.#{action.to_s.titleize}"))%> </td>

          <% end %>
        </tr>
  <% end %>
  </tbody>
  </table>
</div>