<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert <%= bootstrap_class_for name.to_sym %> fade in">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>