<%- title t("views.epp.links.new %{model}", :model => t("views.members.members")) %>
<div class="col-lg-12">
	<div class="page-header">
		<h1><%= t("views.epp.links.new %{model}", :model => t("views.members.members")) %></h1>
	</div>
	<%= render 'form' %>

</div>
